.logo 
{
    background-image: url(../Img/wallpaper_lol.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;  
    background-repeat: no-repeat;
    background-size: cover;
  }
.titre
  {
    color:white;
    margin-left: 200px;
    font-size: 25px;
  }
.soustitre
  {
    font-size: 18px;
  }

.btn{
      display: inline-block;
      box-shadow: none;
      appearance: none;
      border: 0;
      outline: 0;
      background-color: #440BD4;
      height: 80px;
      line-height: 42px;
      padding: 0 45px;
      font-size: 40px;
      border-radius: 20px;
      color: white;
      cursor: pointer;
      transition: all .5s;
      transition-timing-function: cubic-bezier(.2, 3, .4, 1);
      user-select: none;
      top: 500px;
      bottom: 200px;
      /* position: relative; */
    }
      
 