.m-n {
    margin: 0 !important;
}

.m-xs {
    margin: 4px !important;
}

.m-sm {
    margin: 8px !important;
}

.m {
    margin: 16px !important;
}

.m-md {
    margin: 24px !important;
}

.m-lg {
    margin: 36px !important;
}

.m-xl {
    margin: 48px !important;
}

.m-xxl {
    margin: 64px !important;
}

.m-xxxl {
    margin: 96px !important;
}

.m-t-n {
    margin-top: 0 !important;
}

.m-t-xs {
    margin-top: 4px !important;
}

.m-t-sm {
    margin-top: 8px !important;
}

.m-t {
    margin-top: 16px !important;
}

.m-t-md {
    margin-top: 24px !important;
}

.m-t-lg {
    margin-top: 36px !important;
}

.m-t-xl {
    margin-top: 48px !important;
}

.m-t-xxl {
    margin-top: 64px !important;
}

.m-t-xxxl {
    margin-top: 96px !important;
}

.m-b-n {
    margin-bottom: 0 !important;
}

.m-b-xs {
    margin-bottom: 4px !important;
}

.m-b-sm {
    margin-bottom: 8px !important;
}

.m-b {
    margin-bottom: 16px !important;
}

.m-b-md {
    margin-bottom: 24px !important;
}

.m-b-lg {
    margin-bottom: 36px !important;
}

.m-b-xl {
    margin-bottom: 48px !important;
}

.m-b-xxl {
    margin-bottom: 64px !important;
}

.m-b-xxxl {
    margin-bottom: 96px !important;
}

.m-l-n {
    margin-left: 0 !important;
}

.m-l-xs {
    margin-left: 4px !important;
}

.m-l-sm {
    margin-left: 8px !important;
}

.m-l {
    margin-left: 16px !important;
}

.m-l-md {
    margin-left: 24px !important;
}

.m-l-lg {
    margin-left: 36px !important;
}

.m-l-xl {
    margin-left: 48px !important;
}

.m-l-xxl {
    margin-left: 64px !important;
}

.m-l-xxxl {
    margin-left: 96px !important;
}

.m-r-n {
    margin-right: 0 !important;
}

.m-r-xs {
    margin-right: 4px !important;
}

.m-r-sm {
    margin-right: 8px !important;
}

.m-r {
    margin-right: 16px !important;
}

.m-r-md {
    margin-right: 24px !important;
}

.m-r-lg {
    margin-right: 36px !important;
}

.m-r-xl {
    margin-right: 48px !important;
}

.m-r-xxl {
    margin-right: 64px !important;
}

.m-r-xxxl {
    margin-right: 96px !important;
}

