.p-n {
    padding: 0 !important;
}

.p-xs {
    padding: 4px !important;
}

.p-sm {
    padding: 8px !important;
}

.p {
    padding: 16px !important;
}

.p-md {
    padding: 24px !important;
}

.p-lg {
    padding: 36px !important;
}

.p-xl {
    padding: 48px !important;
}

.p-xxl {
    padding: 64px !important;
}

.p-xxxl {
    padding: 96px !important;
}

.p-t-n {
    padding-top: 0 !important;
}

.p-t-xs {
    padding-top: 4px !important;
}

.p-t-sm {
    padding-top: 8px !important;
}

.p-t {
    padding-top: 16px !important;
}

.p-t-md {
    padding-top: 24px !important;
}

.p-t-lg {
    padding-top: 36px !important;
}

.p-t-xl {
    padding-top: 48px !important;
}

.p-t-xxl {
    padding-top: 64px !important;
}

.p-t-xxxl {
    padding-top: 96px !important;
}

.p-b-n {
    padding-bottom: 0 !important;
}

.p-b-xs {
    padding-bottom: 4px !important;
}

.p-b-sm {
    padding-bottom: 8px !important;
}

.p-b {
    padding-bottom: 16px !important;
}

.p-b-md {
    padding-bottom: 24px !important;
}

.p-b-lg {
    padding-bottom: 36px !important;
}

.p-b-xl {
    padding-bottom: 48px !important;
}

.p-b-xxl {
    padding-bottom: 64px !important;
}

.p-b-xxxl {
    padding-bottom: 96px !important;
}

.p-l-n {
    padding-left: 0 !important;
}

.p-l-xs {
    padding-left: 4px !important;
}

.p-l-sm {
    padding-left: 8px !important;
}

.p-l {
    padding-left: 16px !important;
}

.p-l-md {
    padding-left: 24px !important;
}

.p-l-lg {
    padding-left: 36px !important;
}

.p-l-xl {
    padding-left: 48px !important;
}

.p-l-xxl {
    padding-left: 64px !important;
}

.p-l-xxxl {
    padding-left: 96px !important;
}

.p-r-n {
    padding-right: 0 !important;
}

.p-r-xs {
    padding-right: 4px !important;
}

.p-r-sm {
    padding-right: 8px !important;
}

.p-r {
    padding-right: 16px !important;
}

.p-r-md {
    padding-right: 24px !important;
}

.p-r-lg {
    padding-right: 36px !important;
}

.p-r-xl {
    padding-right: 48px !important;
}

.p-r-xxl {
    padding-right: 64px !important;
}

.p-r-xxxl {
    padding-right: 96px !important;
}
